:root {
  --primarycolor: #2a2b3c;
  --orangeColor: #f8901c;
  --pColor: #989594;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
